//
//  CommonCrypto.xcconfig
//  Crypto
//
//  Created by Sam Soffes on 4/21/15.
//  Copyright (c) 2015 Sam Soffes. All rights reserved.
//

MODULEMAP_FILE[sdk=iphoneos*] = $(SRCROOT)/CommonCrypto/iphoneos/iphoneos.modulemap
MODULEMAP_FILE[sdk=iphonesimulator*] = $(SRCROOT)/CommonCrypto/iphonesimulator/iphonesimulator.modulemap
MODULEMAP_FILE[sdk=watchos*] = $(SRCROOT)/CommonCrypto/watchos/watchos.modulemap
MODULEMAP_FILE[sdk=watchsimulator*] = $(SRCROOT)/CommonCrypto/watchsimulator/watchsimulator.modulemap
MODULEMAP_FILE[sdk=macosx*] = $(SRCROOT)/CommonCrypto/macosx/macosx.modulemap
MODULEMAP_FILE[sdk=appletvos*] = $(SRCROOT)/CommonCrypto/appletvos/appletvos.modulemap
MODULEMAP_FILE[sdk=appletvsimulator*] = $(SRCROOT)/CommonCrypto/appletvsimulator/appletvsimulator.modulemap
